* {
  margin: 0;
  padding: 0;
  background: #fff;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 30px;
  background: #fff;
  box-shadow: -30px 20px 100px 10px rgba(251, 24, 78, 0.47);
}
.container input {
  width: 240px;
  height: 40px;
}
::placeholder {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
}
.btn {
  margin: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn button {
  width: 51px;
  height: 51px;
  background: #2b2b2b;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.container #result{
 color: #2B2B2B;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.container #success{
    font-size: 15px;
font-style: normal;
font-weight: 500;
}